# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Tutorial9 (Ciclo For)/build/
/Tutorial10 (Ciclo DoWhile)/nbproject/private/
/Tutorial10 (Ciclo DoWhile)/build/
/11 (vectores)/nbproject/private/
/11 (vectores)/build/
/12 (Vectores paralelos)/nbproject/private/
/12 (Vectores paralelos)/build/
/13 (Matrices)/nbproject/private/
/13 (Matrices)/build/
/13 (Matrices y try-catch basico)/nbproject/private/
/13 (Matrices y try-catch basico)/build/
/Switch/nbproject/private/
/Switch/build/
/14 (Switch y clase calendar)/nbproject/private/
/Clases/nbproject/private/
/Clases/build/
/16 (Clases, seters, geters, toString)/nbproject/private/
/16 (Clases, seters, geters, toString)/build/
/16 (Clases, metodos, seters, geters, toString)/nbproject/private/
/15 (Clases, metodos, seters, geters, toString)/nbproject/private/
/16 (alacance de variables)/nbproject/private/
/16 (alacance de variables)/build/
/16 (alcance de variables; globales y locales)/nbproject/private/
/17 (POO,  Programacion orientada a objetos)/nbproject/private/
/17 (POO,  Programacion orientada a objetos)/build/
/18 (Modificadores de acceso)/nbproject/private/